@import 'base/variables';
 html{
    font-family: 'MuseoModerno';

}
body {
    margin: 0;
    padding: 0;
   }
.container{
    max-width: 950px;
    margin: 0 auto;
}

@media (max-width: 768px){
    .container{
        max-width: 95%;
    }
}

@import 'blocks/promo';
@import 'blocks/header.scss';
@import 'blocks/buttons';
@import 'blocks/benefits';
@import 'blocks/consultation';
@import 'blocks/tittles.scss';
@import 'blocks/forms.scss';
@import 'blocks/carousel';
@import 'blocks/catalog';